@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400&display=swap');

:root {
  --bg-color: #fff;
  --text-color: #0f4c81;
  --active-area-color: rgba(15, 76, 129, 0.1);
  --text-size: 48px/64px;
  --max-width: 1800px;
  --width: 80%;
  --elevation: translate(0, -98vh);
  --easing: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  scroll-behavior: smooth;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0f4c81;
    --text-color: #fff;
    --active-area-color: rgba(255, 255, 255, 0.1);
  }
}
@media screen and (min-width: 1600px) {
  :root {
    --text-size: 86px/120px;
    --width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  :root {
    --text-size: 36px/56px;
    --width: 80%;
  }
}
@media screen and (max-width: 860px) {
  :root {
    --text-size: 28px/48px;
    --width: 90%;
  }
}
@media screen and (max-width: 440px) {
  :root {
    --text-size: 18px/28px;
    --width: 99%;
  }
}
body {
  font: var(--text-size) 'Geologica', -apple-system, BlinkMacSystemFont,
    'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto,
    'segoe ui', arial, sans-serif;
  width: 100%;
  min-width: 320px;
  height: 100%;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
}
.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  justify-content: space-between;
  max-width: var(--max-width);
}
.align-bottom {
  max-width: var(--width);
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  align-self: flex-end;
}
p {
  text-align: left;
  padding: 0;
  padding-bottom: 1em;
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
  position: relative;
  transition: opacity 0.1s var(--easing);
}
a:hover {
  opacity: 0.65;
}
a[target='_blank'] {
  background-image: linear-gradient(
    to top,
    var(--text-color),
    var(--text-color) 1px,
    rgba(0, 0, 0, 0) 1px
  );
  margin-right: 1.1em;
}
a[target='_blank']::after {
  display: block;
  content: '';
  width: 0.75em;
  height: 0.75em;
  position: absolute;
  right: 0;
  top: 0.4rem;
  background: url(/resources/icons/new-tab.svg) no-repeat top left;
  background-size: 0.75em;
  margin-right: -0.9em;
}
@media (prefers-color-scheme: dark) {
  a[target='_blank']::after {
    background: url(/resources/icons/new-tab-dark.svg) no-repeat top left;
    background-size: 0.75em;
  }
}
