/* Variables */
:root {
    /* Light monochrome base colors */
    --bg-color: #fff;
    --text-color: #003588;
    --text-color-transparent: rgba(0, 65, 117, 0.2);
    --accent-color: #5210ff;

    /* Dark theme colors */
    @media (prefers-color-scheme: dark) {
        --bg-color: #003588;
        --text-color: #fff;
        --text-color-transparent: rgba(255, 255, 255, 0.2);
        --accent-color: #4ffa00;
    }
    --link-transition: 0.2s ease;

    /* layout variables */
    --logo-position: fixed;
    --text-size: 24px;
    --line-height: 36px;
    --h2-size: 1.777rem;
    --h2-line-height: 2.75rem;
    --h3-size: 2rem;
    --h3-line-height: 3rem;
    --h4-size: 1rem;
    --paragraph-padding-bottom: 1rem;
    --initials-width: 32px;
    --initials-top: 1.25rem;
    --initials-left: 2rem;
    --content-padding-horizontal: 2rem;
    --content-padding-bottom: 0rem;
    --grid-template-columns: 2fr 1fr 3fr;
    --elevation: translate(0, -98vh);
    --easing: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    --animation-duration: 1s;
    --animation-easing: ease-in-out;
    --stroke-width: 8;
    --photo-width: 80%;
    --intro-copy-padding-right: 25%;
    --intro-height: calc(100vh - 5rem);
}
@media screen and (max-width: 1280px) {
    :root {
        --photo-width: 100%;
    }
}

@media screen and (max-width: 1080px) {
    :root {
        --text-size: 22px;
        --line-height: 32px;
        --photo-width: 86%;
    }
}

@media screen and (max-width: 860px) {
    :root {
        --logo-position: block;
    }
}

@media screen and (max-width: 666px) {
    :root {
        --stroke-width: 6;
        --text-size: 20px;
        --line-height: 28px;
    }
}
@media screen and (max-width: 555px) {
    :root {
        --content-padding-horizontal: 1rem;
        --initials-left: 1rem;
        --grid-template-columns: 1fr;
        --text-size: 18px;
        --line-height: 30px;
        --logo-position: relative;
    }
}

@media screen and (max-width: 440px) {
    :root {
        --text-size: 16px;
        --line-height: 28px;
        --initials-top: 2rem;
        --initials-width: 40px;
        --h2-size: 1.5rem;
        --h2-line-height: 2.5rem;
    }
}
@media screen and (orientation: portrait) {
    :root {
        --photo-width: 100%;
        --intro-copy-padding-right: 0;
        --intro-height: 50vh;
    }
}

/* Reset */
html {
    width: 100%;
    font-size: var(--text-size);
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    box-sizing: border-box;
    cursor: default;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--text-color) var(--bg-color);
    background-color: var(--bg-color);
    font-family:
        "Subkultur",
        -apple-system,
        BlinkMacSystemFont,
        "avenir next",
        avenir,
        "helvetica neue",
        helvetica,
        ubuntu,
        roboto,
        noto,
        "segoe ui",
        arial,
        sans-serif;
    line-height: var(--line-height);
    min-width: 320px;
    font-weight: 400;
    color: var(--text-color);
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: subpixel-antialiased;
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
        env(safe-area-inset-bottom) env(safe-area-inset-left);
    box-sizing: border-box;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

p,
h1,
h2,
h3,
h4 {
    font-weight: 400;
    text-wrap: balance;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color-transparent);
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color);
}

/* Typography */
@font-face {
    font-family: "Subkultur";
    src: url("/resources/fonts/Subkultur-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-size: var(--text-size);
    line-height: var(--line-height);
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: var(--h2-size);
    line-height: var(--h2-line-height);
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    z-index: 75;
}

h3 {
    font-size: var(--h3-size);
    line-height: var(--h3-line-height);
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: var(--h4-size);
    margin: 0;
    padding: 0 0 1rem;
}

p {
    text-align: left;
    padding: 0;
    padding-bottom: var(--paragraph-padding-bottom);
    margin: 0;
    text-wrap: pretty;
}

a {
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    transition: color var(--link-transition);
}

a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: var(--text-color-transparent);
    transform-origin: bottom right;
    transition: background-color var(--link-transition);
}

a:hover {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom bottom;
    background-color: var(--accent-color);
}

a[href="#top"] {
    color: currentColor;
}

/* Layout */
.content {
    box-sizing: border-box;
    width: 100%;
    max-width: var(--max-width);
    margin: 0;
    padding: 0 var(--content-padding-horizontal) var(--content-padding-bottom)
        var(--content-padding-horizontal);
}

.grid-container {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    gap: 0;
    width: 100%;
    max-width: 100vw;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 0.5rem;
}

@media screen and (max-width: 555px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

.col-all {
    grid-column-start: 1;
    grid-column-end: 4;
}

.col-1-2 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.col-1-3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.col-2-3 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.col-2-4 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.col-3-4 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.grid-section {
    display: inherit;
    grid-template-columns: inherit;
    gap: inherit;
    padding-bottom: 3rem;
    transition: opacity 0.15s ease-in-out;
}

@media screen and (max-width: 960px) {
    .col-2-3,
    .col-3-4 {
        grid-column-start: 2;
        grid-column-end: -1;
    }
}

@media screen and (max-width: 860px) {
    .col-1-2,
    .col-1-3,
    .col-2-3 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .col-2-4 {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .col-3-4 {
        grid-column-start: 2;
        grid-column-end: -1;
    }
}
@media screen and (max-width: 555px) {
    .col-1-2,
    .col-1-3,
    .col-2-3,
    .col-2-4,
    .col-3-4 {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .grid-section {
        display: flex;
        flex-direction: column;
        gap: inherit;
        padding-bottom: 3rem;
    }
}

.bottom-text {
    vertical-align: bottom;
}

.initials {
    margin-top: 1rem;
    width: var(--initials-width);
    color: var(--text-color);
}

.initials.sticky-t-l {
    position: var(--logo-position);
    top: var(--initials-top);
    left: var(--initials-left);
    z-index: 100;
}

@media screen and (max-width: 860px) {
}

.sticky-b-l {
    font-size: 0.75rem;
    position: var(--logo-position);
    bottom: 1.5rem;
    left: var(--initials-left);
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.sticky-b-l .string-separator {
    display: none;
}

.non-sticky {
    display: none;
}

.intro {
    position: relative;
    box-sizing: border-box;
    min-height: var(--intro-height);
    background-image: radial-gradient(
        circle at 1px 1px,
        var(--text-color-transparent) 1px,
        transparent 0
    );
    background-size: 10px 10px;
    display: flex;
    align-items: center;
}

.graph {
    color: var(--text-color);
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 20px;
}
.me-line {
    position: absolute;
    width: 60%;
    height: 90%;
    left: 20px;
    bottom: 20px;
    z-index: 100;
    overflow: visible;
}
.me-line path {
    animation: draw var(--animation-duration) var(--animation-easing) forwards;
    fill: none;
    stroke: var(--accent-color);
    stroke-width: var(--stroke-width);
}

.graph-label {
    color: var(--text-color);
    position: absolute;
    z-index: 20;
}
.graph-label.x {
    bottom: 1.25rem;
    right: 0.75rem;
}
.graph-label.y {
    top: 0.5rem;
    left: 1.75rem;
}

.with-me {
    top: 10%;
    left: calc(60% + 2rem);
    opacity: 1;
    width: 200px;
    z-index: 100;
}

.lettering {
    width: 100%;
}

.lettering path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    fill: none;
    stroke: var(--accent-color);
    stroke-width: var(--stroke-width);
}

@media screen and (max-width: 666px) {
    .with-me {
        width: 100px;
        left: calc(60% + 1.5rem);
    }
}

.without-me {
    top: 38%;
    right: 2%;
}

.intro .copy {
    box-sizing: border-box;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    padding-right: var(--intro-copy-padding-right);
    padding-left: var(--content-padding-horizontal);
    z-index: 50;
}

@media screen and (max-width: 680px) {
    .graph-wrapper {
        position: relative;
        width: 100%;
        min-height: 400px;
        flex: 1;
    }
    .intro {
        display: flex;
        padding: 0;
        flex-direction: column;
    }
}

.contacts {
    font-size: calc(var(--text-size) / 1.6);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    row-gap: 0.5rem;
    justify-content: space-between;
}

.contacts .location {
    margin: 0;
    width: fit-content;
    align-self: flex-end;
}

.string-separator {
    display: inline;
    margin: 0 0.75rem;
}

@media screen and (max-width: 555px) {
    .contacts {
        margin-top: -1rem;
        padding-left: 60%;
        flex-direction: column;
        align-items: flex-start;
    }
    .contacts .links {
        display: flex;
        flex-direction: column;
    }

    .contacts .location {
        align-self: flex-start;
    }

    .contacts .string-separator {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .contacts {
        margin-top: -3rem;
        font-size: var(--text-size);
        padding-left: 50%;
        padding-bottom: 2rem;
    }
    .contacts .links {
        display: flex;
        flex-direction: column;
    }

    .contacts .links a {
        display: inline-block;
        margin: 16px 0;
    }

    .contacts .location {
        padding-top: 1rem;
        align-self: flex-start;
    }

    .contacts .string-separator {
        display: none;
    }
}

.letter {
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-image: url("/resources/img/po-letter@3x.png");
    -webkit-mask-image: url("/resources/img/po-letter@3x.png");
    background-color: var(--text-color);
    aspect-ratio: 1 / 0.65;
    text-indent: -9999px;
    overflow: hidden;
    margin-top: -2.5rem;
    margin-bottom: -1rem;
    width: 105%;
    margin-left: -5%;
}

@media screen and (max-width: 960px) {
    .letter {
        margin-top: -1rem;
    }
}

@media screen and (max-width: 860px) {
    .letter {
        margin-top: -3.5rem;
    }
}
@media screen and (max-width: 555px) {
    .letter {
        margin-top: -1rem;
        width: calc(100% + 10px);
        margin-left: -10px;
    }
}

.process,
.testimonials,
.work,
.advice {
    padding-top: 12vh;
}

.work-place,
.db {
    opacity: 1;
}

.work-place.fade,
.db.fade {
    opacity: 0.5;
}

.db-logo {
    width: 1rem;
    display: inline;
    margin-bottom: -0.125rem;
    margin-left: 0.15rem;
}

.image-sequence {
    position: sticky;
    box-sizing: border-box;
    top: 50%;
    height: 0;
    pointer-events: none;
    z-index: 50;
    overflow: visible;
    padding: 0;
    padding-right: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.image-sequence img {
    position: absolute;
    width: auto;
    max-width: 90%;
    height: auto;
}

.work-period {
    font-size: var(--text-size);
    font-weight: normal;
    padding: 0;
    margin: 0;
    z-index: 100;
}
@media screen and (max-width: 555px) {
    .image-sequence {
        display: none;
    }
    .work-place.fade,
    .db.fade {
        opacity: 1;
    }
}

.photo {
    position: relative;
    grid-row-end: span 3;
    display: flex;
    align-items: flex-end;
}

.photo img {
    width: var(--photo-width);
}

.advice p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

@media screen and (max-width: 1080px) {
    .photo {
        grid-row: 2 / span 1;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .advice h2 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .advice p {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

@media screen and (max-width: 555px) {
    .advice p {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .photo {
        padding-bottom: var(--paragraph-padding-bottom);
    }
}

@media screen and (max-width: 440px) {
    .advice h2 {
        padding-bottom: 1rem;
    }
    .advice .links {
        display: flex;
        flex-direction: column;
    }
    .advice .links a {
        display: inline-block;
        margin: 16px 0;
    }
    .advice .links .string-separator {
        display: none;
    }
}

.book-meeting {
    position: relative;
}
.link-hover {
    --svg-width: 100%;
    --svg-ratio: 441.31/249.44;
    --svg-height: calc(var(--svg-width) * (1 / (var(--svg-ratio))));
    position: absolute;
    top: -2rem;
    left: 0;
    width: 100%;
    z-index: 0;
    padding: calc(var(--grid-margin) * 3);
    pointer-events: none;
}

.link-hover .svg-hover-lines {
    display: inline-block;
    width: var(--svg-width);
    height: var(--svg-height);
}

.line-hover {
    transition: stroke-dashoffset 0.6s ease;
}
