@font-face {
  font-family: custom_regular;
  src: url(resources/fonts/custom-regular-webfont.woff2) format('woff2'),
    url(resources/fonts/custom-regular-webfont.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
:root {
  --bg-color: #fff;
  --text-color: #0f4c81;
  --active-area-color: rgba(15, 76, 129, 0.1);
  --text-size: 20px/29px;
  --earlier-height: 40vh;
  --max-width: 1800px;
  --elevation: translate(0, -98vh);
  --easing: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  scroll-behavior: smooth;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0f4c81;
    --text-color: #fff;
    --active-area-color: rgba(255, 255, 255, 0.1);
  }
}
@media screen and (min-width: 1600px) {
  :root {
    --text-size: 22px/32px;
  }
}
@media screen and (max-width: 1024px) {
  :root {
    --text-size: 18px/24px;
  }
}
@media screen and (max-width: 860px) {
  :root {
    --text-size: 16px/22px;
  }
}
body {
  font: var(--text-size) custom_regular, -apple-system, BlinkMacSystemFont,
    'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto,
    'segoe ui', arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
}
a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
  position: relative;
  transition: opacity 0.1s var(--easing);
}
a:hover {
  opacity: 0.65;
}
a[target='_blank'] {
  background-image: linear-gradient(
    to top,
    var(--text-color),
    var(--text-color) 1px,
    rgba(0, 0, 0, 0) 1px
  );
  margin-right: 1.1em;
}
a[target='_blank']::after {
  display: block;
  content: '';
  width: 0.75em;
  height: 0.75em;
  position: absolute;
  right: 0;
  top: 0.4rem;
  background: url(/resources/icons/new-tab.svg) no-repeat top left;
  background-size: 0.75em;
  margin-right: -0.9em;
}
@media (prefers-color-scheme: dark) {
  a[target='_blank']::after {
    background: url(/resources/icons/new-tab-dark.svg) no-repeat top left;
    background-size: 0.75em;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 3em;
  line-height: 1;
  text-indent: -0.07em;
  margin-bottom: 1em;
}
h3 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0.75em;
}
h4 {
  font-size: 1em;
  margin-bottom: 0.5em;
}
p {
  max-width: 72ch;
  padding: 0;
  margin: 0 0 1.5em 0;
}
p + h3 {
  margin-top: 3em;
}
ul {
  padding: 0;
}
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  text-align: center;
  opacity: 1;
  transition: opacity 0.1s var(--easing);
}
.sticky-header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--bg-color);
  transition: opacity 0.1s var(--easing);
  opacity: 0;
}
.sticky-header:hover::before {
  opacity: 0.7;
}
@media screen and (max-width: 900px) {
  .sticky-header {
    display: none;
  }
}
.sticky-header--hidden {
  opacity: 0;
  pointer-events: none;
}
.sticky-header-content {
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin: auto;
  padding: 1em 0;
  font-size: 0.75em;
  letter-spacing: 0.01em;
}
.sticky-header-content.columns {
  padding: 0;
  align-items: baseline;
}
.sticky-name {
  grid-column: 2/4;
  grid-row: 1/-1;
  align-items: flex-start;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: n-resize;
}
.sticky-nav {
  list-style: none;
  grid-column: 4/9;
  grid-row: 1/-1;
  display: flex;
}
.sticky-nav > * {
  margin-right: 1rem;
}
.sticky-contacts {
  grid-column: 10/-1;
  grid-row: 1/-1;
}
.svg-mask {
  width: 0;
  height: 0;
}
img {
  width: 100%;
}
figcaption {
  font: 0.8em/20px sans-serif;
  text-align: center;
  opacity: 0.45;
  margin-top: 32px;
}
.figure {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.figure-phone {
  position: relative;
  box-sizing: border-box;
}
.figure-desktop {
  padding-bottom: 100px;
}
.figure-desktop img {
  border-radius: 4px;
  box-shadow: 0 4.7px 6.2px rgba(0, 0, 20, 0.027),
    0 14.8px 20.5px rgba(0, 0, 20, 0.036), 0 49px 80px rgba(0, 0, 20, 0.1);
}
.phone-l {
  padding: 50px 152px;
  width: 600px;
  height: 794px;
}
.phone-m {
  padding: 38px 116px;
  width: 460px;
  height: 610px;
}
.phone-l img,
.phone-m img {
  -webkit-clip-path: url(#phone-frame);
  clip-path: url(#phone-frame);
}
.img-wrap {
  will-change: filter;
  filter: drop-shadow(0 5px 6px rgba(0, 0, 20, 0.03))
    drop-shadow(0 15px 20px rgba(0, 0, 20, 0.036))
    drop-shadow(0 49px 80px rgba(0, 0, 20, 0.1));
}
@media screen and (min-width: 1600px) {
  .phone-l {
    padding: 66px 202px;
    width: 800px;
    height: 1066px;
  }
  .phone-m {
    padding: 50px 152px;
    width: 600px;
    height: 794px;
  }
}
@media screen and (max-width: 1024px) {
  .phone-l {
    padding: 42px 127px;
    width: 500px;
    height: 663px;
  }
}
@media screen and (max-width: 900px) {
  .phone-l,
  .phone-m {
    padding: 50px 252px;
    width: 800px;
    height: 794px;
    margin-left: -100px;
  }
}
@media screen and (max-width: 700px) {
  .phone-l,
  .phone-m {
    padding: 0 0 100px;
    margin-left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
  }
  figcapture {
    position: absolute;
  }
}
.content {
  max-width: var(--max-width);
  text-align: left;
  margin: 0 auto;
  padding: 0;
}
.section {
  padding-bottom: 64px;
  box-sizing: border-box;
}
.section-header {
  font-weight: 400;
}
.caption {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.intro {
  min-height: 640px;
  height: 100vh;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: '. n n . . . . . c c c s' '. . . t t t t t t . . s' '. . . t t t t t t . . .' '. . . m m m m m m . . .' '. h h h h h h h h h h .' '. h h h h h h h h h h .';
}
.intro-contacts,
.intro-name,
.intro-social {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  align-items: flex-start;
  padding-top: 2rem;
  padding-right: 1rem;
  box-sizing: border-box;
}
.intro-name {
  grid-area: n;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: default;
}
.intro-header {
  grid-area: h;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 210px;
  line-height: 1em;
  text-indent: -16px;
  letter-spacing: -13px;
}
.intro-text {
  grid-area: t;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  padding-right: 1rem;
  margin: 0;
}
.intro-nav {
  grid-area: m;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
}
.intro-nav > * {
  margin-right: 2.5em;
}
.intro-social {
  grid-area: s;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.intro-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.intro-contacts {
  grid-area: c;
  flex-direction: column;
}
.contact-button {
  display: inline;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  background: 0 0;
  font: inherit;
  font-size: 1em;
  color: currentColor;
  border: none;
  text-align: left;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.contact-button:hover {
  opacity: 0.75;
}
@media screen and (min-width: 1600px) {
  .intro {
    grid-template-areas: '. n n n . . . . . c c s' '. . . t t t t t t . . s' '. . . t t t t t t . . s' '. . . m m m m m m . . .' '. h h h h h h h h h h .' '. h h h h h h h h h h .';
  }
  .intro-contacts,
  .intro-name,
  .intro-social {
    font-size: 16px;
  }
  .intro-header {
    font-size: 290px;
    text-indent: -24px;
    letter-spacing: -12px;
  }
}
@media screen and (max-width: 1140px) {
  .intro-header {
    font-size: 196px;
    text-indent: -16px;
  }
}
@media screen and (max-width: 1024px) {
  .intro {
    min-height: 420px;
    grid-template-areas: '. n n n . . . c c c . s' '. . . t t t t t t t . s' '. . . t t t t t t t . s' '. . . m m m m m m m . .' '. h h h h h h h h h h .' '. h h h h h h h h h h .';
  }
  .intro-contacts,
  .intro-name,
  .intro-social {
    font-size: 12px;
  }
  .intro-header {
    font-size: 164px;
    text-indent: -14px;
    letter-spacing: -8px;
  }
}
@media screen and (max-width: 860px) {
  .intro {
    grid-template-areas: '. n n n . . . c c c . s' '. . . t t t t t t t . s' '. . . t t t t t t t . s' '. . . m m m m m m m . .' '. h h h h h h h h h h .' '. h h h h h h h h h h .';
  }
  .intro-header {
    font-size: 144px;
    text-indent: -10px;
    letter-spacing: -6px;
  }
}
@media screen and (max-width: 760px) {
  .intro {
    min-height: 420px;
    grid-template-areas: '. n n n . . . c c c . s' '. . t t t t t t t t . s' '. . t t t t t t t t . s' '. . m m m m m m m m . .' '. h h h h h h h h h h .' '. h h h h h h h h h h .';
  }
  .intro-header {
    font-size: 120px;
    text-indent: -18px;
    letter-spacing: -4px;
  }
}
@media screen and (max-width: 700px) {
  .intro {
    min-height: 380px;
    grid-template-areas: '. n n n . . c c c c . s' '. t t t t t t t t t t s' '. t t t t t t t t t t .' '. m m m m m m m m m m .' '. h h h h h h h h h h .' '. h h h h h h h h h h .';
  }
  .intro-header {
    font-size: 112px;
    text-indent: -8px;
  }
}
@media screen and (max-width: 580px) {
  .intro {
    min-height: 340px;
    grid-template-areas: '. n n n . c c c c . s s' '. t t t t t t t t t s s' '. t t t t t t t t t . .' '. m m m m m m m m m m .' '. h h h h h h h h h h .' '. h h h h h h h h h h .';
  }
  .intro-header {
    font-size: 72px;
    text-indent: -6px;
    letter-spacing: -2px;
  }
}
@media screen and (max-width: 420px) {
  .intro {
    min-height: 340px;
    grid-template-areas: '. n n n n n n n n n n .' '. c c c c c c c . s s .' '. t t t t t t t t t t t' '. t t t t t t t t t t t' '. m m m m m m m m m m m' '. h h h h h h h h h h .';
  }
  .intro-header {
    font-size: 60px;
    text-indent: -3px;
  }
  .intro-contacts,
  .intro-name,
  .intro-social {
    padding-top: 0;
  }
  .intro-name {
    align-items: center;
  }
  .intro-social ul {
    display: grid;
    text-align: center;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (max-width: 320px) {
  .intro-header {
    font-size: 56px;
    text-indent: -4px;
  }
}
.cifra,
.earlier,
.pik {
  padding-top: 25vh;
}
.columns {
  padding-top: 2em;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(12, 1fr);
}
.full-width {
  grid-column: 2/-2;
}
.half-left {
  grid-column: 2 / span 5;
  padding: 0;
  padding-right: 1rem;
  box-sizing: border-box;
}
.half-right {
  grid-column: 7 / span 5;
  padding: 0;
  padding-left: 1rem;
  box-sizing: border-box;
}
.half-right--to-end {
  grid-column: 7/-1;
}
.half-left--from-start {
  grid-column: 1 / span 6;
}
.swap-col {
  order: -1;
}
.text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.swap-col {
  order: 0;
}
@media screen and (max-width: 900px) {
  .full-width,
  .half-left,
  .half-left--from-start,
  .half-right,
  .half-right--to-end {
    grid-column: 2/-2;
    padding: 0;
  }
  h2.full-width {
    order: -3;
  }
  h3.full-width {
    order: -2;
  }
  .swap-col {
    order: -1;
  }
}
@media screen and (max-width: 700px) {
  .half-left,
  .half-left--from-start {
    grid-column: 1/-1;
    padding: 0 1rem;
  }
  .half-right,
  .half-right--to-end {
    grid-column: 1/-1;
    padding: 0 1rem;
  }
  .full-width {
    grid-column: 1/-1;
    padding: 0 1rem;
  }
  .swap-col {
    order: -1;
  }
}
.earlier-container {
  text-align: center;
  text-align: left;
  position: relative;
}
.earlier-container h2 {
  opacity: 1;
  transition: opacity 0.1s var(--easing);
}
.earlier-container--flashbacks h2 {
  opacity: 0;
}
.earlier {
  padding: 0;
  margin: auto;
  text-align: left;
  max-width: var(--max-width);
}
.earlier h2 {
  margin: 0;
}
.joblist {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  position: relative;
}
.joblist li {
  box-sizing: border-box;
  padding: 1em;
  border: 2px solid var(--text-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.joblist li::before {
  display: block;
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  opacity: 0.5;
  border-radius: 2px;
  width: 100%;
  height: 100%;
}
.joblist > :hover {
  opacity: 0.65;
}
@media (min-width: 944px) and (max-width: 1272px) {
  ul.joblist li:last-child {
    grid-column: span 3;
  }
}
@media screen and (max-width: 584px) {
  .joblist li[data-actionable='true'] {
    pointer-events: none;
  }
}
.main-container {
  background-color: var(--bg-color);
  will-change: transform;
  transition: transform 0.3s var(--easing);
  transform: translate(0, 0);
}
.main-container--elevated {
  transform: var(--elevation);
}
.flashback {
  width: 100%;
  height: 98vh;
  padding-top: 40px;
  box-sizing: border-box;
  position: absolute;
  z-index: -10;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: opacity 0.2s var(--easing);
  transform: translate(0, -98vh);
  opacity: 0;
}
.flashback--hidden {
  display: none;
}
.flashback--shown {
  display: block;
  opacity: 1;
}
.flashback-grid {
  width: 100%;
  margin: auto;
  display: grid;
  grid-gap: 2px;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, 160px);
  grid-template-rows: repeat(8, 60px);
  grid-auto-flow: dense;
}
.flashback-cell {
  display: grid;
  justify-content: flex-start;
}
.flashback-cell img {
  object-fit: contain;
}
.flashback-cell.x1 {
  grid-column: span 1;
}
.flashback-cell.x2 {
  grid-column: span 2;
}
.flashback-cell.x3 {
  grid-column: span 3;
}
.flashback-cell.y1 {
  grid-row: span 1;
}
.flashback-cell.y2 {
  grid-row: span 2;
}
.flashback-cell.y3 {
  grid-row: span 3;
}
.flashback-cell.y4 {
  grid-row: span 4;
}
.flashback-cell.y5 {
  grid-row: span 5;
}
.flashback-cell.y6 {
  grid-row: span 6;
}
.flashback-cell.y7 {
  grid-row: span 7;
}
.flashback-cell.y8 {
  grid-row: span 8;
}
