html {
    font-family: -apple-system, BlinkMacSystemFont,
    'avenir next', avenir,
    'helvetica neue', helvetica,
    ubuntu,
    roboto, noto,
    'segoe ui', arial,
    sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;

    font-size: 18px;
}

body {
    margin: 0;
    width: 100%;
}

a {
    /*background-image: linear-gradient(0deg, #157efb, #157efb 0%, transparent 0%);*/
    box-shadow: inset 0 -1px 0 rgba(21, 126, 251, .2);
    transition: box-shadow .1s ease-in;
}
a:hover {
    /*background-image: linear-gradient(0deg, #157efb, #157efb 30%, transparent 30%);*/
    box-shadow: inset 0 -.5rem 0 rgba(21, 126, 251, .5);
    border: none;
}

@media screen and (max-width: 900px) {
    html {
        font-size: 16px;
    }
}
@media screen and (max-width: 300px) {
    html {
        font-size: 14px;
    }
}
